extends layout

block content
  h1 Checked Out Books
  p
    a.button(href='/books/new') Create New Book
  p
    | Filters 
    a(href='/books/') All
    |  | 
    a(href='/books/overdue') Overdue
    |  | 
    a(href='/books/checked_out') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      tr
        td
        td
        td
        td
        td
        td    
